<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form action="" method="post">
{#    <label>网站选择：</label>#}
{#    <select name="web">#}
{#        <option value="all_share">all_share</option>#}
{#        <option value="one_share">one_share</option>#}
{#        <option value="ave_line_diff">日线求差</option>#}
{#    </select><br>#}
    ts_code: <input type="text" name="ts_code"/><br>
    start_date: <input type="text" name="start_date"/><br>
    end_date: <input type="text" name="end_date"/><br>
{#    end_date: <input type="text" name="end_date"/><br>#}
    <input type="submit" value="submit"/>
</form>
</body>
</html>